<div class="row mb-2 mt-3">
    <div class="col"></div>
    <div class="col-6 text-center">
        <h3>Show Vital Signs</h3>
    </div>
    <div class="col"></div>
</div>
<div class="row" *ngIf="hasError()">
    <div class="col"></div>
    <div class="col-8 alert alert-danger">
        {{errorMessage}}
    </div>
    <div class="col"></div>
</div>
<form (ngSubmit)="list()">
    <div class="row">
        <div class="col"></div>
        <div class="col-8 app-box">
            <div class="row">
                <div class="col-10">
                    <div class="input-group mt-2 mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-injured"></i></span>
                        </div>
                        <select name="patients"
                                class="form-control"
                                [(ngModel)]="selectedPatient">
                            <option *ngFor="let p of patients" [value]="p._id">{{p.fullName}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-2 text-left mt-2 mb-2">
                        
                    <button type="submit" class="btn btn-primary">Search</button>

                </div>
             </div>
        </div>
        <div class="col"></div>
    </div>
</form>

<div class="row mx-3 my-4" *ngIf="vitalSigns && vitalSigns.length > 0">
    <div class="col-12">
        <div class="row app-table-header">
            <div class="col-3">Date</div>
            <div class="col-3">Blood Pressure</div>
            <div class="col-2">Temperature</div>
            <div class="col-2">Heart Rate</div>
            <div class="col-2">Respiration Rate</div>
        </div>
        <div class="row app-table-body" *ngFor="let vs of vitalSigns">
            <div class="col-3 py-2">{{formatDate(vs.created)}}</div>
            <div class="col-3 py-2">{{formatBloodPressure(vs.bloodPressure)}}</div>
            <div class="col-2 py-2">{{vs.bodyTemperature}} &#8451;</div>
            <div class="col-2 py-2">{{vs.heartRate}} heartbeats/m</div>
            <div class="col-2 py-2">{{vs.respiratoryRate}} breaths/m</div>
        </div>
    </div>
</div>

<div class="row mx-3 my-4" *ngIf="showWarning">
    <div class="col"></div>
    <div class="col-10 alert alert-warning">
        No previously entered vital signs found for the selected patient.
    </div>
    <div class="col"></div>
</div>