<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']">Patient Monitor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <li class="nav-item" *ngIf="isNurse()">
                <a class="nav-link" [routerLink]="['/vital-signs']" routerLinkActive="active" [routerLinkActiveOptions]="{match:['/vital-signs', '/vital-signs/create']}">Vital Signs</a>
            </li>
            <li class="nav-item" *ngIf="!isNurse()">
                <a class="nav-link" [routerLink]="['/patient/alert']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Emergency Alert</a>
            </li>
            <li class="nav-item" *ngIf="!isNurse()">
                <a class="nav-link" [routerLink]="['/patient/motivation']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Exercise Motivation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/patient/daily-info']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Daily Information</a>
            </li>
            <li class="nav-item" *ngIf="!isNurse()">
                <a class="nav-link" [routerLink]="['/patient/symptoms']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Symptoms Checklist</a>
            </li>
            <li class="nav-item" r>
                <a class="nav-link" [routerLink]="['/daily-tips']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Daily Tips</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <!-- If the student is not logged in show the items bellow -->
            <li class="nav-item" *ngIf="!user">
                <a class="nav-link" [routerLink]="['/authentication/signin']" routerLinkActive="active">Signin</a>
            </li>
            <li class="nav-item" *ngIf="!user">
                <a class="nav-link" [routerLink]="['/authentication/signup']" routerLinkActive="active">Signup</a>
            </li>

            <!-- If the student is logged in show the items bellow -->
            <li class="nav-item mr-3" *ngIf="user">
                <span class="nav-link">Hello, {{user.firstName}}</span>
            </li>
            <li class="nav-item" *ngIf="user">
                <a class="nav-link" href="/api/auth/signout">Signout</a>
            </li>
        </ul>
    </div>
</nav>
